{% extends "site/base.html" %}
{% block content %}
<!--    Sction-Category-->
    <section id="categories">
        <div class="container">
            <div class="row">
                <div>
                    <a href="{% url 'camera:index' %}">ГЛАВНАЯ</a>
                    <span>/</span>
                    <span>{{ category.name }}</span>
                </div>
                <div class="col-12">
                    <h3>{{ category.name }}</h3>
                </div>

                {% for camera in camera %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
                    <div class="card">
                        <div class="all-img">
                            <a href="{% url 'camera:camera_detail' camera.id %}"><img src="{{ camera.camera_image.url }}" alt="//////"/></a>
                        </div>
                        <div class="card-body">
                            <span>{{ camera.camera_name }}</span>
                            <p>{{ camera.camera_def }}</p>
                        </div>
                        <div class="card-footer">
                            <button type="button">Добавить в корзину</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h5>{{ category.name }} в Ташкенте</h5>
                <p>IP-камеры – современные и многофункциональные устройства для видеонаблюдения,
                    оснащенные встроенным веб-сервером и сетевым интерфейсом Wi-Fi или Ethernet. Они
                    представляют собой не просто часть охранных систем видеонаблюдения, но и передают
                    записанные данные в любую точку мира по интернет-протоколу.</p>
                <p>Для просмотра или обработки записанного видеоматериала можно использовать специально
                    разработанные сетевые регистраторы. Основным преимуществом IP-камер является
                    возможность проводить трансляцию снятых событий на расстоянии.</p>
                <h5>Условно IP-камеры видеонаблюдения подразделяются на две категории:</h5>
                <ul>
                    <li>Проводные – привлекают внимание своей небольшой стоимостью. К компьютеру они
                        подсоединяются с помощью нескольких проводов, по которым и проходят сигналы.
                    </li>
                    <li>Беспроводные – считаются наиболее современными. Для их подключения вам не
                        нужно будет разбираться с проводами. Управляются такие видеокамеры дистанционно,
                        передача записанных материалов производится по беспроводному интернет соединению
                        прямо на компьютер.
                    </li>
                </ul>
                <p>В нашем интернет-магазине sts-hik.uz вы сможете купить IP-камеры видеонаблюдения по
                    доступной цене.</p>
            </div>
        </div>
    </section>
{% endblock %}