{% extends "site/base.html" %}
{% block content %}
    <section id="section-4">
        <div class="container">
            <div class="row">
                <div>
                    <a href="{%  url 'camera:index' %}">ГЛАВНАЯ</a>
                    <span>/</span>
                    <span>ДОСТАВКА</span>
                </div>
                <div class="col-12">
                    <h3>Доставка</h3>
                    <p>Компания «SMART TECHNOLOGY SYSTEMS» производит доставку систем для
                        видеонаблюдения и контроля доступа по всей Республике Узбекистан.
                    </p>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}

