{% extends "site/base.html" %}
{% block content %}
    <section id="section-5">
        <div class="container">
            <div class="row">
                <div>
                    <a href="{% url 'camera:index' %}">ГЛАВНАЯ</a>
                    <span>/</span>
                    <span>ОПЛАТА</span>
                </div>
                <div class="col-12">
                    <h3>ОПЛАТА</h3>
                    <p>Оплатить заказ можно двумя способами: наличными и с помощью пластиковой платежной
                        карты UZCARD. После оплаты товара вы получите все необходимые документы и
                        кассовый чек.
                    </p>
                    <p>Оплата производится только в национальной валюте РЕСПУБЛИКИ УЗБЕКИСТАН.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}