{% extends "site/base.html" %}
{% block content %}
    <section id="section-6">
        <div class="container">
            <div class="row">
                <div>
                    <a href="{% url 'camera:index' %}">ГЛАВНАЯ</a>
                    <span>/</span>
                    <span>УСЛУГИ</span>
                </div>
                <div class="col-12">
                    <h3>Услуги</h3>
                    <p>Компания «SMART TECHNOLOGY SYSTEMS» предоставляет широкий спектр услуг по
                        проектированию, обслуживанию и монтажу систем видеонаблюдения и безопасности в
                        домах, офисах, банках, магазинах, а также на улицах.
                    </p>
                    <h4>Что мы можем:</h4>
                    <div class="row">
                        <div class="col-12 col-md-2">
                            <div class="card">
                                <div class="bg-image-ust-1"></div>
                                <p>Расчет бюджета</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-2">
                            <div class="card">
                                <div class="bg-image-ust-2"></div>
                                <p>Проектирование</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-2">
                            <div class="card">
                                <div class="bg-image-ust-3"></div>
                                <p>Установка домофонов</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-2">
                            <div class="card">
                                <div class="bg-image-ust-4"></div>
                                <p>Установка видеокамер</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-2">
                            <div class="card">
                                <div class="bg-image-ust-5"></div>
                                <p>Монтаж сигнализации</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}