{% extends "site/base.html" %}
{% block content %}
    <section id="section-8">
        <div class="container">
            <div class="row">
                <div>
                    <a href="{% url 'camera:index' %}">ГЛАВНАЯ</a>
                    <span>/</span>
                    <span>МАГАЗИНЫ</span>
                </div>
                <div class="col-12">
                    <h3>Магазины</h3>
                    <div class="row">
                        <div class="col-12 text-center">
                            <table class="table">
                                <tr>
                                    <th>Ташкент</th>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>Hikvision Showroom</h5>
                                        <p>
                                            Юнусабадский район, кварталь-4, дом-80 <br/>
                                            Время работы - с 9:00 до 19:00 <br/>
                                            Выходной день – воскресенье <br/>
                                            Тел: +99895 514-50-00 <br/>
                                            +99899 355-55-00 <br/>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <table class="table text-center">
                        <tbody>
                        <tr>
                            <th>Ташкент</th>
                            <th>Ташкент</th>
                            <th>Ташкент</th>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Массив Себзар, Дом-7, магазин-9 <br/>
                                    Время работы - с 9:00 до 19:00 <br/>
                                    Выходной день - воскресенье <br/>
                                    Тел: +99897 748-29-99 <br/>
                                    +99895 193-42-22 <br/>
                                </p>
                            </td>
                            <td>
                                <p>
                                    Юнусабадский район, улица Ахмад Дониш,<br/>
                                    дом-27, магазин-8 <br/>
                                    Время работы - с 9:00 до 19:00 <br/>
                                    Выходной день – воскресенье <br/>
                                    Тел: +99895 177-49-99 <br/>
                                    +99895 177-61-11 <br/>
                                </p>
                            </td>
                            <td>
                                <p>
                                    Торговый комплекс «Тошкент савдо маркази», блок-R, магазин-25 <br/>
                                    Время работы - с 8:00 до 19:00 <br/>
                                    Выходной день - Понедельник <br/>
                                    Тел: +99897 750-85-10 <br/>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th>Ташкент</th>
                            <th>Ташкент</th>
                            <th>Ташкент</th>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Торговый комплекс «Тошкент савдо маркази», блок-R, магазин-37 <br/>
                                    Время работы - с 8:00 до 19:00 <br/>
                                    Выходной день – Понедельник <br/>
                                    Тел: 0 (378) 129-89-05 <br/>
                                    +99894 618-73-33 <br/>
                                </p>
                            </td>
                            <td>
                                <p>
                                    Торговый комплекс «Строй Город», блок-2, магазин-132 (Ориентир: рынок "Урикзор") <br/>
                                    Время работы - с 8:00 до 19:00 <br/>
                                    Выходной день – без выходных <br/>
                                    Тел: +99898 126-49-99 <br/>
                                    +99897 714-49-99 <br/>
                                </p>
                            </td>
                            <td>
                                <p>
                                    Единый Call-центр: <br/>
                                    0 (378) 147-60-00 <br/>
                                    0 (378) 147-90-00 <br/>
                                    +99899 898-60-00 <br/>
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}