{% load static %}

<footer id="footer1">
    <div class="container-fluid bg-nav-top-color">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3">
                    <h4>Информация</h4>
                    <div class="footer-part d-flex flex-column mt-4">
                        <a id="myBtn" style="cursor: pointer">О компании</a>
                        <a href="{% url 'camera:delivery' %}">Доставка</a>
                        <a id="myBtn1" style="cursor: pointer">Гарантия</a>
                        <a href="{% url 'camera:contact' %}">Контакты</a>
                        <a href="#">Акция и скидки</a>
                    </div>
                </div>
                <div class="col-12 mt-3 col-sm-6 mt-sm-0 col-md-3">
                    <h4>Категория</h4>
                    <div class="footer-part d-flex flex-column mt-4">
                        {% for category in categories %}
                        <a href="{% url 'camera:category' category.id %}">{{ category.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-12 mt-3 col-sm-6 mt-sm-3 col-md-3 mt-md-0">
                    <h4>Служба поддержки</h4>
                    <div class="footer-part d-flex flex-column mt-4">
                        <a href="{% url 'camera:feedback' %}">Обратная связь</a>
                        <a href="#">Возварт товара</a>
                    </div>
                </div>
                <div class="col-md-3 pr-0 pl-0">
                    <div>
                        <span class="icon icon-location"></span>
                        <p class="ml-2">Ташкент, Узбекистан. ул.Себзар дом 2</p>
                    </div>
                    <div class="mt-4">
                        <span class="icon icon-phone"></span>
                        <p class="ml-2">+99878-147-60-00 или +99899-898-60-00</p>
                    </div>
                    <div class="mt-4">
                        <span class="icon icon-email"></span>
                        <p class="ml-2">email@email.com</p>
                    </div>
                    <div class="d-flex">
                        <a href="#"><img src="{% static 'images/icons/telegram.svg' %}" alt=""/></a>
                        <a href="#"><img src="{% static 'images/icons/facebook.svg' %}" alt=""/></a>
                        <a href="#"><img src="{% static 'images/icons/instagram.svg' %}" alt=""/></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<footer id="footer2">
    <div class="container-fluid bg-footer-bottom-color">
        <div class="container">
            <h6>&#9400; 2020 Общество с ограниченной ответственностью "STS"</h6>
        </div>
    </div>
</footer>