{% load static %}

<div id="garranty">
    <div class="about-body">
        <section id="guarantee">
            <div class="container">
                <div class="row">
                    <div class="text">
                        <h2>Гарантия</h2>
                        <span id="close-g">&times;</span>
                    </div>
                    <div class="col-12">
                        <h3>Гарантия и сервисное обслуживание</h3>
                        <p>Интернет-магазин STS-HIK.UZ делает все возможное для того, чтобы приобретенное
                            оборудование для видеонаблюдения отвечало мировым требованиям. Мы доставляем
                            полностью проверенное и исправное оборудование, имеющее все необходимые сертификаты
                            и документацию, а в случае возникновения неполадок оказываем гарантийное сервисное
                            обслуживание.</p>
                        <span>Условия гарантии</span>
                        <ul>
                            <li>Гарантийный ремонт распространяются только на товары, приобретаемые
                                исключительно в нашем интернет-магазине, и при наличии гарантийного талона.
                            </li>
                            <li>Под гарантией подразумевается – устранение неполадок, возникших в результате
                                конструктивных, заводских или технических неисправностей без взимания платы,
                                путем замены комплектующих деталей.
                            </li>
                            <li>Под бесплатным сервисным обслуживанием понимается дополнительное обязательство
                                по устранению дефектов оборудования без взимания платы с покупателя.
                            </li>
                            <li>Гарантийный талон действителен только в том случае, если в нем правильно и четко
                                указаны наименование, модель, серийный номер оборудования, дата продажи, четкая
                                печать продавца, и подпись покупателя.
                            </li>
                            <li>При поступлении в сервисный центр оборудование проверяется на соответствие
                                условиям гарантийных обязательств. Если оборудование не соответствует этим
                                условиям, или же использовалось с нарушением условий эксплуатации, то гарантия
                                производителя аннулируется.
                            </li>
                            <li>Об окончании проведения ремонта покупатель уведомляется по указанному в
                                гарантийном талоне адресу электронной почты или по телефону.
                            </li>
                            <li>Замена неисправных частей в оборудовании и комплектующих в период гарантийного
                                срока не ведет к установлению нового гарантийного срока, либо нового срока
                                бесплатного сервисного обслуживания.
                            </li>
                        </ul>
                        <span>Сроки гарантии:</span>
                        <p>На товары от бренда <i>Hikvision</i> – 1 год;</p>
                        <p>На товары от бренда <i>HiWatch</i> – 1 год;</p>
                        <p>Оборудование от других брендов – 3 месяца.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>