{% load static %}

<div id="about-us">
    <div class="about-body">
        <section id="section-3">
            <div class="container">
                <div class="row">
                    <div class="text">
                        <h2>О компании</h2>
                        <span id="close">&times;</span>
                    </div>
                    <div class="text-center">
                        <h4>«Smart Technology Systems»</h4>
                    </div>
                    <p>Компания «SMART TECHNOLOGY SYSTEMS» занимается продажей и монтажом оборудования для
                        видеонаблюдения и контроля доступа от ведущих мировых брендов. Именно надежность,
                        высокое качество и инновационные технологии являются гарантом вашего спокойствия.
                        Выбирая «SMART TECHNOLOGY SYSTEMS» вы всегда будете в безопасности!</p>
                    <h5>Видеонаблюдение</h5>
                    <p>Видеонаблюдение — один из самых надежных способов, обеспечивающий постоянную охрану и
                        слежку за вашим домом или офисом. Перед покупкой необходимо, в первую очередь,
                        определиться с количеством зон наблюдения как внутри, так и снаружи объекта. На
                        данный момент чаще всего устанавливают один из 2 видов видеонаблюдения: IP и
                        аналоговое AHD. У каждого из видов есть свои особенности и отличия, а выбирать стоит
                        исходя из поставленной задачи.</p>
                    <h5>Домофоны</h5>
                    <p>Современные домофоны обеспечивают надежную охрану дома и офиса. Простота их
                        установки, гибкий ценовой ряд и широкий выбор моделей делают их доступным и
                        эффективным средством защиты. Благодаря их использованию ни один посторонний человек
                        не пройдет на вашу территорию. Часто они эффективно сочетаются с другими
                        устройствами для видеонаблюдения и контроля доступа. В зависимости от принципа
                        работы, они подразделяются на аудио и видео домофоны.</p>
                    <h5>Контроль доступа</h5>
                    <p>Системы контроля доступом представляют собой комплекс программно-аппаратных
                        устройств, предназначенных для охраны и безопасности. Основная цель их состоит в
                        ограничении числа проходящих на территорию объекта, а также регистрации входа/выхода
                        людей и въезда/выезда транспорта. К дополнительным функциям их относится учет
                        рабочего времени персонала, ведение базы посетителей, а если в охранную систему
                        включены камеры видеонаблюдения – это также создание и хранение архива. В некоторых
                        случаях системы контроля доступа можно синхронизировать с пожарной или охранной
                        сигнализациями.</p>
                </div>
                <div class="row">
                    <img src="{% static 'images/sertifikat-1.jpg' %}" alt=""/>
                    <img src="{% static 'images/litsenziya-2.jpg' %}" alt=""/>
                    <img src="{% static 'images/litsenziya-3.jpg' %}" alt=""/>
                    <img src="{% static 'images/certificate-4.jpg' %}"
                         alt=""/>
                </div>
                <div class="row">
                    <h4>Интернет-магазин STS-HIK.UZ</h4>
                    <p>STS-HIK.UZ – интернет-магазин в Ташкенте, занимающийся продажей и установкой систем
                        видеонаблюдения для профессионального и домашнего использования. Благодаря широкому
                        выбору оборудования реализовываем проекты любого уровня сложности. Также мы
                        предоставляем услуги по разработке систем видеонаблюдения, установке и настройке
                        оборудования, производим гарантийное сервисное обслуживание.
                    </p>
                    <p>В ассортименте нашего интернет-магазина представлены: аналоговые и IP-камеры,
                        видеорегистраторы, системы контроля доступа, жесткие диски HDD, и так далее.</p>
                    <h4>Покупая оборудование для видеонаблюдения у нас вы сможете:</h4>
                    <ul>
                        <li>Обезопасить вашу собственность от несанкционированного проникновения;</li>
                        <li>Наблюдать за детьми, няней или обслуживающими работниками.</li>
                        <li>Повысить работоспособность и дисциплинированность рабочего персонала;</li>
                        <li>Контролировать работу офиса или производства в режиме реального времени;</li>
                        <li>Улучшить качество обслуживания покупателей.</li>
                    </ul>
                    <p>Наши высококвалифицированные консультанты ответят на любые вопросы, помогут вам
                        разобраться во всех деталях и подобрать оптимальное видеооборудование для вашего
                        дома или офиса.</p>
                </div>
            </div>
        </section>
    </div>
</div>